{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Home Page</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container">
            <ul class="nav navbar-nav">
                <li><a class="navbar-brand" href="{% url 'index' %}">BRAND</a></li>
                <li><a class="navbar-link" href="{% url 'webrecord' %}">Record</a></li>
                <li><a class="navbar-link" href="{% url 'forms_name_view' %}">Form</a></li>
                <li><a class="navbar-link" href="{% url 'users' %}">SignUp</a></li>
                <li><a class="navbar-link" href="{% url 'other' %}">Other</a></li>
            </ul>
        </div>
    </nav>
    {% block content %} {% endblock %}
</body>


</html>