<!DOCTYPE html>
<html lang="en">

<head>
    <title>Record Page</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/style.css" rel="stylesheet">
</head>

<body>
    {% extends 'indexprof/index.html' %}
    <!--hi-->
    {% block content %}
    <h1>Hello Welcome to Records</h1>
    <h2>Here's your Site Access Records:</h2>
    <div class="djangotwo">
        {% if access_records %}
        <table>
            <thead>
                <th>Site Name</th>
                <th>Date Accessed</th>
            </thead>
            {% for acc in access_records %}
            <tr>
                <td>{{acc.name}}</td>
                <td>{{acc.date}}</td>
            </tr>
            {% endfor %}
        </table>
        {% else %}
        <p>NO ACCESS RECORDS FOUND!</p>
        {% endif %}
    </div>
    {% endblock %}



</body>

</html>